.module-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  cursor: pointer;
  width: 400px;
  grid-gap: 30px;
  align-items: center;
  text-align: center;
}

.module_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  // flex-wrap: wrap;
}
