.gauge-container {
    position: relative;
    width: 100%;
    height: 200px; 
  }
  
  .circle {
    width: 80%; 
    max-width: 400px; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
  }
  
  .needle {
    width: 30px; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform-origin: center bottom; 
    z-index: 2;
    transition: transform 0.3s ease-in-out;
    margin-top: 100px; 
  }